html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
 

html {
   height: 100%;
}

body {
   background-image: url('../img/bg.svg');
   background-size: cover;
   height: 100vh;
   width: 100vw;
   display: block;
   position: relative;
}

#image {
   background-image: url('../img/writing.png');
   background-repeat: no-repeat;
   background-size: contain;
   height: 100vh;
   width: 100vw;
   overflow:hidden;
   background-position: center;
   display: block;
}

canvas {
   position: fixed;
   top:0;
   left:0;
}

.img {
   background-repeat: no-repeat;
   background-size: contain;
   overflow: hidden;
   background-position: center;
   display: block;
   position: absolute;
   box-shadow: #444 1px 1px 10px;
}

.img1 {
   background-image: url('../img/writing.png');
   height: 30vh;
   width: 20vw;
   top: 10%;
   left: 20%;
}

.img2 {
   background-image: url('../img/writing.png');
   height: 40vh;
   width: 30vw;
   top: 30%;
   left: 40%;
}

.img3 {
   background-image: url('../img/writing.png');
   height: 20vh;
   width: 50vw;
   top: 60%;
   left: 10%;
}

.img4 {
   background-image: url('../img/writing.png');
   height: 20vh;
   width: 20vw;
   top: 30%;
   left: 60%;
}

.img5 {
   background-image: url('../img/writing.png');
   height: 30vh;
   width: 40vw;
   top: 20%;
   left: 20%;
}